* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #bbdde3c4;
}

.nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #2596be;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 44px;
    background: -webkit-linear-gradient(#008e2d, #2596be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mid-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.mid-nav>li {
    margin-left: 20px;
}

.mid-nav>li>a {
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-family: sans-serif;
}

.login-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-signup>a {
    text-decoration: none;
    margin-left: 20px;
    background: -webkit-linear-gradient(rgb(37, 150, 190), #abdbe3);
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
}

.hero-container {

    background-color: #cedce1dc;
    width: 70%;
    margin: auto;
    height: 60vh;
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
}

.hero-container>div {
    padding: 20px;

    gap: 20px;
    height: 100%;
    overflow: hidden;
}

.hero-container>div:first-child {
  background-color: #e27743;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left>h1 {
    font-family: sans-serif;
    color: #2596be;
}

.hero-left>p {
    font-family: sans-serif;
}
.hero-right{
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.hero-right>img {
    width: 100%;
    height: 100%;
}
.hero-left>button{
       
        padding: 10px 20px;
        margin-top: 20px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: teal;
        font-size: 18px;
        cursor: pointer;

}
.wrapper {
    background-color: white;
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.testimonial-container {
    width: 85%;
    height: 100%;
    margin: auto;
    padding: 1.8em 1.2em;

}
.testimonial-heading{
    margin-top: 15px;
    margin-left: 20px;
    font-style: italic;
    background: -webkit-linear-gradient(#090909, #2596be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button-container {
    height: 4em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 0.5s;

}

.button-container>button {
    font-size: 1.8em;
    height: 2em;
    width: 2em;
    background-color: #0a69ed97;
    margin: auto;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.testimonial-container p{
    color: #8c8c90;
    text-align: center;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.testimonial-container img{
    display: block;
    width: 70px;
    height: 70px;
    margin: 1.8em auto 1.25em auto;
    border-radius:50% ;
    width: 4.4em;
    transition: 0.5s;


}

.testimonial-container h3{
    color: #2d3d67;
    font-size: 1em;
    text-align: center;
    transition: 0.5s;
}

.testimonial-container h6{
    color: #bcc4da;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-family: 400;
    text-align: center;
    transition: 0.5s;
}

.footer-container{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color:  white;
    margin-top: 25px;
}

.left-footer{
    min-width: 30%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
  
}
.right-footer{
    min-width: 60%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-footer>div{
    width: 48%;
    height: 100%;
    
    padding: 10px;
   
}
.left-footer>input{
    width: 80%;
    height: 30px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    background-color: transparent;
}

.left-footer>button{
    width: 50%;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(159, 44, 63);
}
.right-footer>div>h2{
    text-align: center;
    font-family: sans-serif;
}
.right-footer>div>p{
    color: #10107d;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    font-weight: 500;
    cursor: pointer;
    font-family: sans-serif;

}
#address{
    color: black;
    font-size: 1em;
    line-height: 2em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    font-weight: 500;
    font-family: sans-serif;
}
.icons{
    width: 90%;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.icons>div{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2596be;
    border-radius: 5px;
    
   
}

.icons>div>a{
    text-decoration: none;
  font-size: 40px;
  color: white;
    text-align: center;
  

}
/* mobile phone */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .mid-nav{
    display: none;
  }
  .hero-container{
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  justify-content: center;
  }
  .footer-container{
    flex-direction: column;
    height: auto;
  }
  .left-footer{
    min-height: 280px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .right-footer{
    flex-direction: column;
  }
  .right-footer>div{
    height: 230px;
  }
  .logo{
    font-size: 22px;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 500px) 
and (max-device-width : 800px) {
  
    .mid-nav{
        display: none;
      }
      .hero-container{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
      justify-content: center;
      }
      .footer-container{
        flex-direction: column;
        height: auto;
      }
      .left-footer{
        min-height: 250px;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
      .right-footer{
        flex-direction: column;

      }
      .right-footer>div{
        height: 230px;
      }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}